<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.system.mapper.SysCompMapper">

    <!-- 查询竞赛信息列表（支持多种排序方式） -->
    <select id="selectSysCompList" parameterType="map" resultType="com.cms.common.core.domain.entity.SysComp">
        SELECT comp_id, comp_name, comp_image_url, comp_category, comp_mode, comp_status,
           stage_status, comp_start_time, comp_end_time, is_recommended, access_frequency,
           remark, status, del_flag, create_by, create_time, update_by, update_time
        FROM sys_comp
        <where>
            <!-- 改进：1. 增加对象非空判断 2. 使用trim防止SQL语法错误 -->
            <if test="sysComp != null">
                <if test="sysComp.compName != null and sysComp.compName != '' and sysComp.compName != 'null'">
                    AND comp_name LIKE CONCAT('%', TRIM(#{sysComp.compName}), '%')
                </if>
                <if test="sysComp.compCategory != null">
                    AND comp_category = #{sysComp.compCategory, jdbcType=CHAR}
                </if>
                <if test="sysComp.status != null and sysComp.status != ''">
                    AND status = #{sysComp.status, jdbcType=CHAR}
                </if>
            </if>
            AND del_flag = 0
        </where>
        <choose>
            <when test="isRandom != null and isRandom">
                ORDER BY RAND()
            </when>
            <when test="orderByAccessFrequency != null and orderByAccessFrequency">
                ORDER BY access_frequency DESC
            </when>
            <when test="orderByLatest != null and orderByLatest">
                ORDER BY comp_start_time DESC
            </when>
            <otherwise>
                ORDER BY comp_id DESC
            </otherwise>
        </choose>
    </select>

    <!-- 查询单个竞赛信息 -->
    <select id="selectSysCompByCompId" parameterType="Long" resultType="com.cms.common.core.domain.entity.SysComp">
        SELECT 
            comp_id, comp_name, comp_image_url, comp_category, comp_mode, comp_status,
            stage_status, comp_start_time, comp_end_time, is_recommended, access_frequency,
            remark, status, del_flag, create_by, create_time, update_by, update_time
        FROM sys_comp
        WHERE comp_id = #{compId}
        AND del_flag = 0
        <!-- 添加调试日志输出 -->
        <if test="_parameter != null">
            /* Querying for compId: #{compId} */
        </if>
    </select>

    <!-- 修改插入语句字段类型 -->
    <insert id="insertSysComp" parameterType="SysComp">
        INSERT INTO sys_comp (
            comp_id, comp_name, comp_image_url, comp_category, comp_mode, comp_status,
            stage_status, comp_start_time, comp_end_time, is_recommended, access_frequency,
            remark, status, del_flag, create_by, create_time, update_by, update_time
        ) VALUES (
            #{compId}, #{compName}, #{compImageUrl}, #{compCategory,jdbcType=VARCHAR}, 
            #{compMode,jdbcType=VARCHAR}, #{compStatus,jdbcType=VARCHAR}, 
            #{stageStatus,jdbcType=VARCHAR}, #{compStartTime}, #{compEndTime}, 
            #{isRecommended,jdbcType=VARCHAR}, #{accessFrequency,jdbcType=INTEGER}, 
            #{remark}, #{status,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, 
            #{createBy}, #{createTime}, #{updateBy}, #{updateTime}
        )
    </insert>

    <!-- 修改更新语句字段类型 -->
    <update id="updateSysComp" parameterType="SysComp">
        UPDATE sys_comp
        <set>
            <!-- 修改所有char类型字段的映射 -->
            <if test="compCategory != null and compCategory != ''">comp_category = #{compCategory,jdbcType=VARCHAR},</if>
            <if test="compMode != null and compMode != ''">comp_mode = #{compMode,jdbcType=VARCHAR},</if>
            <if test="compStatus != null and compStatus != ''">comp_status = #{compStatus,jdbcType=VARCHAR},</if>
            <if test="stageStatus != null and stageStatus != ''">stage_status = #{stageStatus,jdbcType=VARCHAR},</if>
            <if test="isRecommended != null">is_recommended = #{isRecommended,jdbcType=VARCHAR},</if>
            <if test="accessFrequency != null">access_frequency = #{accessFrequency,jdbcType=INTEGER},</if>
            <if test="status != null and status != ''">status = #{status,jdbcType=VARCHAR},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag,jdbcType=VARCHAR},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        WHERE comp_id = #{compId}
    </update>

</mapper>