<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.system.mapper.SysCompMapper">

    <resultMap type="SysComp" id="SysCompResult">
        <result property="compId" column="comp_id" />
        <result property="deptId" column="dept_id" />
        <result property="compName" column="comp_name" />
        <result property="compImageUrl" column="comp_image_url" />
        <result property="compCategory" column="comp_category" />
        <result property="compMode" column="comp_mode" />
        <result property="compStatus" column="comp_status" />
        <result property="stageStatus" column="stage_status" />
        <result property="compStartTime" column="comp_start_time" />
        <result property="compEndTime" column="comp_end_time" />
        <result property="isRecommended" column="is_recommended" />
        <result property="accessFrequency" column="access_frequency" />
        <result property="remark" column="remark" />
        <result property="status" column="status" />
        <result property="delFlag" column="del_flag" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectSysCompVo">
        select comp_id, dept_id, comp_name, comp_image_url, comp_category, comp_mode, comp_status, stage_status,
               comp_start_time, comp_end_time, is_recommended, access_frequency, remark, status,
               del_flag, create_by, create_time, update_by, update_time 
        from sys_comp
    </sql>

    <select id="selectSysCompList" parameterType="SysComp" resultMap="SysCompResult">
        <include refid="selectSysCompVo"/>
        <where>
            <!-- compId非空时加入条件 -->
            <if test="sysComp.compId != null and sysComp.compId != ''">
                AND comp_id LIKE CONCAT('%', TRIM(#{sysComp.compId}), '%')
            </if>
            <if test="sysComp.deptId != null">
                AND dept_id = #{sysComp.deptId}
            </if>

            <!-- compName非空时加入条件 -->
            <if test="sysComp.compName != null and sysComp.compName != ''">
                AND comp_name LIKE CONCAT('%', TRIM(#{sysComp.compName}), '%')
            </if>

            <!-- compCategory非空时加入条件 -->
            <if test="sysComp.compCategory != null">
                AND comp_category = #{sysComp.compCategory, jdbcType=CHAR}
            </if>

            <!-- compStatus非空时加入条件 -->
            <if test="sysComp.compStatus != null">
                AND comp_status = #{sysComp.compStatus, jdbcType=CHAR}
            </if>

            <!-- status非空时加入条件 -->
            <if test="sysComp.status != null">
                AND status = #{sysComp.status, jdbcType=CHAR}
            </if>
            <!-- 删除标志始终为0 -->
            AND del_flag = 0
        </where>
        <!-- 如果order为空，则使用默认排序 -->
        <if test="order != null">
            ORDER BY ${order}
        </if>
        <if test="order == null">
            ORDER BY comp_id DESC
        </if>
    </select>



    <select id="selectSysCompByCompId" parameterType="Long" resultMap="SysCompResult">
        <include refid="selectSysCompVo"/>
        where comp_id = #{compId} and del_flag = 0
    </select>

    <select id="selectHotCompIds" resultType="java.lang.Long">
        <!-- 获取热门竞赛ID列表，筛选推荐标志为1且未被删除的记录，按访问频率降序排序，限制返回10条 -->
        SELECT comp_id
        FROM sys_comp
        WHERE is_recommended = 1 AND del_flag = 0
        ORDER BY access_frequency DESC
        LIMIT 10
    </select>

    <insert id="insertSysComp" parameterType="SysComp">
        insert into sys_comp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="compId != null">comp_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="compName != null and compName != ''">comp_name,</if>
            <if test="compImageUrl != null and compImageUrl != ''">comp_image_url,</if>
            <if test="compCategory != null">comp_category,</if>
            <if test="compMode != null">comp_mode,</if>
            <if test="compStatus != null">comp_status,</if>
            <if test="stageStatus != null">stage_status,</if>
            <if test="compStartTime != null">comp_start_time,</if>
            <if test="compEndTime != null">comp_end_time,</if>
            <if test="isRecommended != null">is_recommended,</if>
            <if test="accessFrequency != null">access_frequency,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="compId != null">#{compId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="compName != null and compName != ''">#{compName},</if>
            <if test="compImageUrl != null and compImageUrl != ''">#{compImageUrl},</if>
            <if test="compCategory != null">#{compCategory},</if>
            <if test="compMode != null">#{compMode},</if>
            <if test="compStatus != null">#{compStatus},</if>
            <if test="stageStatus != null">#{stageStatus},</if>
            <if test="compStartTime != null">#{compStartTime},</if>
            <if test="compEndTime != null">#{compEndTime},</if>
            <if test="isRecommended != null">#{isRecommended},</if>
            <if test="accessFrequency != null">#{accessFrequency},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysComp" parameterType="SysComp">
        update sys_comp
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="compName != null and compName != ''">comp_name = #{compName},</if>
            <if test="compImageUrl != null and compImageUrl != ''">comp_image_url = #{compImageUrl},</if>
            <if test="compCategory != null">comp_category = #{compCategory},</if>
            <if test="compMode != null">comp_mode = #{compMode},</if>
            <if test="compStatus != null">comp_status = #{compStatus},</if>
            <if test="stageStatus != null">stage_status = #{stageStatus},</if>
            <if test="compStartTime != null">comp_start_time = #{compStartTime},</if>
            <if test="compEndTime != null">comp_end_time = #{compEndTime},</if>
            <if test="isRecommended != null">is_recommended = #{isRecommended},</if>
            <if test="accessFrequency != null">access_frequency = #{accessFrequency},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where comp_id = #{compId}
    </update>

    <delete id="deleteSysCompByCompId" parameterType="Long">
        update sys_comp set del_flag = 2 where comp_id = #{compId}
    </delete>

    <delete id="deleteSysCompByCompIds" parameterType="java.util.List">
        update sys_comp set del_flag = 2 where comp_id in
        <foreach item="compId" collection="list" open="(" separator="," close=")">
            #{compId}
        </foreach>
    </delete>

    <select id="selectMyAssignedCompetitions" parameterType="long" resultMap="SysCompResult">
        SELECT sc.*
        FROM sys_comp sc
        INNER JOIN sys_user_comp suc ON sc.comp_id = suc.comp_id
        WHERE suc.user_id = #{userId} AND sc.del_flag = 0
    </select>

    <select id="selectUnassignedCompetitions" parameterType="long" resultMap="SysCompResult">
        SELECT sc.*
        FROM sys_comp sc
        WHERE sc.del_flag = 0 AND NOT EXISTS (
            SELECT 1
            FROM sys_user_comp suc
            WHERE suc.comp_id = sc.comp_id AND suc.user_id = #{userId}
        )
    </select>

    <!-- 递增竞赛访问频率 -->
    <update id="incrementAccessFrequency" parameterType="Long">
        UPDATE sys_comp
        SET access_frequency = access_frequency + 1
        WHERE comp_id = #{compId} AND del_flag = 0
    </update>

</mapper>
